.button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
  }
  
  #grey {
    background: grey;
  }
  
  #red {
    background: rgb(231, 8, 8);
  }
  #black {
    background: rgb(0, 0, 0);
  }
  #green {
    background: rgb(38, 206, 80);
  }